@page
@using NonFactors.Mvc.Grid;
@model Pacient
@{
    ViewData["Title"] = "Пациенты";
}
<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

<h1>@ViewData["Title"]</h1>

<p>Перечень пациентов и состояние передачи.</p>

@(Html
    .Grid(Model.Persons)
    .Build(columns =>
    {
        columns.Add(model => model.FamilyPerson).Titled("Фамилия");
        columns.Add(model => model.NamePerson).Titled("Имя");
        columns.Add(model => model.FathersPerson).Titled("Отчество");

        columns.Add(model => model.birthDayPerson).Titled("Дата рождения").Formatted("{0:d}");
        columns.Add(model => model.Sex_Person).Titled("Пол");
        columns.Add(model => model.SnilsPerson).Titled("Снилс");
        columns.Add(model => model.IdPromedPerson).Titled("Id в промед");
    })
    .Using(GridFilterMode.Header)
    .Empty("Нет данных")
    .Filterable()
    .Sortable()
    .Pageable()
    .Id("GridPacient")
    .Using(GridFilterMode.Row)
)

<script src="~/js/mvc-grid/mvc-grid_rus.js"></script>
<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>

