@page "/counter"
@using NonFactors.Mvc.Grid;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>dlfgk;'d'</p>
@{
}

<Counters />
