<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Панель управленияt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControlPanelRabbit.styles.css" asp-append-version="true" />


    <link href="~/css/css/dx.common.css" rel="stylesheet" />
    <link href="~/css/css/dx.material.blue.light.compact.css" rel="stylesheet" />
    <link href="~/css/css/dx.material.blue.light.compact.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme/localization/dx.messages.ru.js"></script>
    <script src="~/js/devextreme/globalize.js"></script>

   

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"> <img src="~/images/panel.png" height="65px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Pacient">Пациенты</a>
                        </li>
                        <li class="nav-item" style="display:none">
                            <a class="nav-link text-dark" asp-area=""  asp-page="/Log">Логи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Analiz">Направления на анализ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Панель управления обменом 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <script>

        var locales = [
            { name: "Русский", value: "ru" }
        ];
        //debugger;
        var locale = getLocale();
        DevExpress.localization.locale(locale);

        function changeLocale(data) {
            setLocale(data.value);
            document.location.reload();
        }

        function getLocale() {
            var locale = sessionStorage.getItem("locale");
            return locale != null ? locale : "ru";
        }

        function setLocale(locale) {
            sessionStorage.setItem("locale", locale);
        }
    </script>
    <script src="~/js/exceljs.min.js"></script>
    <script src="~/js/filesaver.min.js"></script>
    <script src="~/js/polyfill.min.js"></script>


    <script>
        function exporting(e) {
            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet('Analiz');

            DevExpress.excelExporter.exportDataGrid({
                component: e.component,
                worksheet: worksheet,
                autoFilterEnabled: true
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Analiz.xlsx');
                });
            });
        }
    </script>
</body>
</html>